* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Oswald;
    color: #222;
    line-height: 1.6;
  }

  main {
    margin: 0 auto;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: black;
    background: transparent;
    padding: .5rem; 
  }

  .footer-anchor-home {
    position: relative;
  }

  .footer-anchor-text {
    position: relative;
    padding-bottom: .5rem;
  }

  .footer-contact {
    position: fixed;
    padding-bottom: .5rem;
  }
  
  .top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 1000;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-weight: 450;
    size: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    
  }
  
  .nav-links a:hover {
    color: red;
  }

  .homePageLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Oswald;
    color: black;
    font-size: 35px;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .homePageLogo:hover {
    color: red;
  }

  .h1 {
    font-size: 55px;
    font-weight: 500;
    color: red;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 2em;
  }

  .p {
    font-size: 25px;
    font-weight: 300;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 2em;
    padding-left: 12em;
    padding-right: 12em;
    line-height: 2em;
  }

  .list {
    font-size: 25px;
    font-weight: 300;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    list-style-position: inside;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 12em;
    padding-right: 12em;
    line-height: 2em;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 5rem auto;
    padding: 0 1rem;
  }
  
  .photo-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
  }

  .link {
    color: black;
    text-decoration: none;
  }

  .link:hover {
    color: red;
  }

